.dialog {
    position: fixed;
    z-index: 210;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.dialog_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image_loader {
    animation: spin 1s infinite linear;
    border: solid 1vmin transparent;
    border-radius: 50%;
    border-right-color: rgb(255, 139, 6);
    border-top-color: rgb(230, 170, 59);
    box-sizing: border-box;
    height: 10vmin;
    left: calc(50% - 5vmin);
    position: fixed;
    top: calc(50% - 5vmin);
    width: 10vmin;
    z-index: 1;
}

.image_loader:before {
    animation: spin 2s infinite linear;
    border: solid 1vmin transparent;
    border-radius: 50%;
    border-right-color: rgb(255, 139, 6);
    border-top-color: rgb(230, 170, 59);
    box-sizing: border-box;
    content: "";
    height: 8vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 8vmin;
}

.image_loader:after {
    animation: spin 3s infinite linear;
    border: solid 1vmin transparent;
    border-radius: 50%;
    border-right-color: rgb(255, 139, 6);
    border-top-color: rgb(230, 170, 59);
    box-sizing: border-box;
    content: "";
    height: 6vmin;
    left: 1vmin;
    position: absolute;
    top: 1vmin;
    width: 6vmin;
}

.modal {
    width: 80%;
    height: 80%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.close_button:hover {
    color: rgb(255, 139, 6) !important;
}

.modal_swiper {
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_gallery_image {
    pointer-events: all;
    object-fit: contain;
}

.popup_gallery_image:hover {
    cursor: pointer;
}

.swiper_button_prev,
.swiper_button_next {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1000;
}
.popup_button_icon {
    height: 75px;
    width: 75px;
}

.swiper_button_prev {
    left: 0;
}

.swiper_button_next {
    right: 0;
}

.popup_button:hover {
    color: rgb(255, 139, 6) !important;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    .popup_button {
        display: none;
    }
}