.project_page_container {
    width: 100%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #E5E5E5;
}
.under_nav {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    padding-left: 5%;
    padding-right: 5%;
}
.under_nav_inner {
    width: 100%;
    max-width: 1880px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pp_status {
    height: 300px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pp_spacer {
    height: 100px;
}
.status_p {
    font-size: max(1.5vw, 0.8em);
    font-family: var(--raleway), sans-serif;
    font-weight: 200;
    text-align: center;
}
.pp_top_container {
    margin-top: 65px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.text_name_container {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 2px; 
    padding-bottom: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
}
.font_k {
    font-family: var(--kameron), sans-serif;
}
.pp_bottom_container {
    padding-top: 50px;
    max-width: 1880px;
    padding-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.marker {
    transform: scale(3);
}

.project_link {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    font-family: var(--raleway), sans-serif;
    font-weight: 400;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5;
}

.project_link:hover {
    transition: transform 500ms ease;
    color: rgb(255, 139, 6);
}

.icon_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.icon_container2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.flex_end {
    justify-content: flex-end;
}

.row_reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.next_icon {
    transform: scale(1.5);
}


@media (max-width: 1000px) {
    /* Column change here is important for layout shift */
    .pp_bottom_container {
        flex-direction: column;
        padding-top: 20px;
    }
    .status_p {
        font-size: max(2vw, 1em);
    }
    .text_name_container {
        padding-bottom: 10px;
    }
}
@media (max-width: 600px) {
    .text_name_container {
        font-size: 7vw;
        font-size: min(2em, 7vw);
    }
    .project_link {
        font-size: 0.6em;
        height: 40px;
    }
    .under_nav {
        height: 40px;
    }
    .icon_container {
        margin-right: 5px;
    }
    .icon_container2 {
        margin-left: 5px;
    }
}