.direction_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 1000px) {
    .direction_container {
        padding-top: 5%;
        width: 100%;
    }
}